<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
   <!-- General description of your web application -->
   <display-name>MyWebApp - Webapp</display-name>
      <description>
         Describe the MyWebApp Webapp here.
   </description>
</web-app>